.main-bg {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    background: url(../images/Asset\ 3.png) no-repeat center top / 100% auto;
    z-index: 1;
}
.main-content {
    position: relative;
    z-index: 2; 
}

table {
    border-collapse: collapse;
    width: 25%;
    margin: 20px 0;
    display: inline-block;
    border-radius: 3vw; 
    overflow: hidden; 
    margin-right: 5vw;
}

td {
    border: 1px solid #000;
    padding: 2vw;
}

.upper-cell {
    background-color: #00bfff; 
}

.lower-cell {
    background-color: #ffffff; 
}