.ref-disable {
    opacity: 1.5;
  }
  .icon-home.active {
    background-image: url(../global/images/nav/home.png);
  }

  .main-bg {
    background: url(../images/Asset1.png) no-repeat center top / 100% auto;
    position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background-size: cover;
  display: flex;
  }


  .all-content {
    display: flex;
  }
  .main-ct {
    display: flex;
  }