
body {
    background-color: white;
}

.small {
    font-size: 60%;
    vertical-align: super;
}

.chart {
    width: 35%;
    height: 40vh;
    border: 1px solid #ccc;
    position: relative;
    margin-top: 30vh;
    margin-left: 40vw;
    border-top: none;
    border-right: none;
    border-left: solid 1px black;

}

.chartContainer {
    margin-top: -25vh;
    margin-left: -25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.top-title {
    text-align: center;
    margin-top: 20vh;
    margin-left: -20vh;
    padding: 0;
    font-size: 3vh;
    color: rgb(16, 122, 16);
}

.chart-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translateY(50%);
    transform-origin: left;
    white-space: nowrap;
    text-align: center;
    margin-left: 5vw;
    margin-top: 15vh;
    color: #106962;
}



.axis-x,
.axis-y,
.grid-line {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    border: solid 1px black;
}

.axis-x {
    width: 90%;
    height: 1px;
    bottom: 0;
}

.axis-y {
    width: 1px;
    left: 3%
}

.grid-line {
    width: 2%;
    height: 1px;
    left: -2%;
    border: solid 1px black;
}

.bar {
    width: 10%;
    background-color: #005c2eda;
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to top,  rgb(4, 67, 62), rgb(8, 129, 119));

}

.label-y {
    text-align: right;
    width: 3%;
    right: 100%;
    position: absolute;
    margin-right: 2vw;
    color: rgb(16, 122, 16);
    font-weight: bold;
}

.label-y span {
    display: inline-block;
    transform: translateY(50%);
}

.label-x {
    white-space: nowrap;
    text-align: center;
    width: 10%;
    position: absolute;
    bottom: -20px;
    color: rgb(16, 122, 16);
    font-weight: bold;
}

.label-x span {
    display: inline-block;
    transform: translateY(50%);
    font-size: 1vw;
}

.chart-comparison {
    width: 15%;
    height: 40vh;
    position: relative;
    margin-left: -17vw;
    margin-top: 30vh;
    border-top: none;
    border-right: none;
    flex-shrink: 0;
}

.chart-comparison .bar {
    width: 5vw;
    background: linear-gradient(to top,  rgb(4, 67, 62), rgb(8, 129, 119));
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    border: solid 1px rgb(12, 81, 75);
    
}
.column .bar:first-child{
    border: solid 1px rgb(12, 81, 75);
    background: white;
}

.column {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.label {
    font-size: 2.5vh;
    text-align: center;
    margin-top: 3vh;
    margin-left: -30vw;
    color: rgb(16, 122, 16);
}

.chart-dialog {
    border: 1px solid black;
    width: 20vw;
    height: 20vh;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(4, 67, 62), rgb(8, 129, 119));
    border-radius: 25px;
    margin-left: -15vw;
    margin-right: 5vw;
    margin-top: 45vh;
}

.bar b {
    position: absolute;
    top: 30%;
}